# Python
__pycache__/
*.pyc
*.pyo

# Environments
.venv/
venv/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Dataset - DO NOT COMMIT
datasets/

# Temporary experiment outputs
runs/
output_video/

# Cache / logs
*.log
*.tmp
*.cache

# TensorRT / ONNX temporary exports
*.onnx
